@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

$preto: #141414;
$fontSinopse: 'Supermercado One', cursive;;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $preto;
}

        //CABEÇALHO DA PÁGINA
header{
    width: 100%;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $preto;
    align-items: center;

    ul{
        display: flex;
        list-style-type: none;
    }

    a{
        color: white;
        opacity: 0.8;
        text-decoration: none;
        padding: 0 10px;
        font-size: 20px;

        &:hover{
            opacity: 1.0;
        }
    }
}

h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    padding: 0 20px;
}

            //CONTEÚDO PRINCIPAL    
main{
    width: 100%;
    height: 400px;
    background-image: url(img/capa-house.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{        
    color: white;
    padding: 0 20px;

    h3{
        font-size: 45px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    p{
        width: 30%;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.container-botoes{
    margin-top: 45px;

    button{
        padding: 15px 25px;
        border: none;
        margin-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        color: white;
        background-color: $preto;
        cursor: pointer;
        opacity: 0.8;
        transition: 1s;

        &:hover{
            background-color: white;
            color: $preto;
        }
    }
}


.container-carrossel{
    margin-top: 10px;

    h2{
        text-transform: uppercase;
        color: white;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 20px;
    }
}
.box-filme{
    height: 368px;
    width: 100%;
    display: block;
    overflow: hidden;
    cursor: pointer;

    img{
        height: 100%;
    }
}

.modal{
    height: 110%;
    width: 100%;
    padding-top: 15px;
    background: rgba(222, 222, 222, 0.85);
    display: flex;
    align-items: center;

    .sinopse{
        padding: 0px 5px;
        color: black;

        h3{
            font-weight: 900;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;

            span{
                font-weight: 100;
                opacity: 0.8;
            }
        }

        .classificaçao{
            border: 1px solid black;
            display: inline-block;
            padding: 3px;
            margin: 10px 0;
        }

        p{
            font-family: $fontSinopse;
        }

        h4{
            font-weight: 900;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
        }
    }
}

.animaçao{
    animation-name: sinopse;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.sair-animaçao{
    animation-name: sair;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}   
                // ANIAMAÇÕES
 @keyframes sinopse {
     0%{transform: translateY(368px);}
     100%{transform: translateY(-393px);}
 }

@keyframes sair {
    0%{transform: translateY(-393px);}
    100%{transform: translateY(368px);}
}

        //DEIXANDO O CARROSSEL RESPONSIVO PARA DISPOSITIVOS MENORES
@media (max-width: 1080px) {
    .sinopse{
        padding: 0px 0px;
        color: black;
    
        h3{
            font-size: 15px;

            span{
                font-size: 15px;
            }
        }

        p{
            font-size: 15px;
        }

        h4{
            font-size: 13px;
        }    
    }   
}

@media (max-width: 1000px){
    .container{        
        p{
            width: 70%;
        }
    }
    
    .box-filme{
        img{
            width: 100%;
        }
    }

    .modal{
    
        .sinopse{
            padding: 20px 5px;
            color: black;
    
            h3{
                font-size: 18px;
    
                span{
                    font-size: 18px;
                }
            }
    
            p{
                font-size: 15px;
            }
    
            h4{
                font-size: 16px;
            }
        }
    }    
}

@media screen and (max-width: 700px) {
    .menu{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }   
}


@media (max-width: 500px) {
    .container-botoes{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    
        button{
            margin: 10px 15px;
            width: 50%;
        }
    }
}